@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  html {
    @apply h-screen w-screen scroll-smooth bg-slate-200 dark:bg-slate-900 dark:text-slate-200;
  }

  body,
  #root {
    @apply h-full md:w-[65%] m-auto w-full;
  }

  details summary div svg {
    @apply transform origin-center rotate-0 transition-transform duration-300;
  }

  details[open] summary div svg {
    @apply transform origin-center -rotate-180 transition-transform duration-300;
  }
}

@layer components {
  .title {
    @apply font-medium leading-tight text-4xl md:text-5xl lg:text-5xl;
  }
  .subtitle {
    @apply font-medium leading-tight text-4xl;
  }

  .screen-container {
    @apply flex flex-col justify-center items-center h-screen;
  }

  .profile {
    @apply mt-4;
  }

  .tabs {
    @apply h-16 bg-gray-900 w-auto;
  }

  .tab-item {
    @apply bg-yellow-400 h-16 items-center w-full;
  }

  .nav-links {
    @apply flex flex-col md:flex-row md:text-base gap-10 justify-center items-center w-full text-2xl text-white;
  }

  .links {
    @apply hover:border-b-4 hover:-mb-1 hover:border-rose-400;
  }

  .active {
    @apply border-b-4 -mb-1 border-rose-400;
  }
}
